a:link {
 color: #444444; 
 text-decoration: none;
}
a:visited { color: #444444; }
a:hover {
  color: #666666; 
  background:#ffdcd6;
}
a:active { color: #444444; }

::selection {
  background:#ffdcd6;
}

.app {
  font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  width: 80%;
  margin: 0 auto;
  max-width: 980px;
}

main .subtitle {
  font-size: 14px;
}

main .subtitle h1 {
  color: #444444;
  margin-bottom: 135px;
}

.app .manu.menu__state--open {
  display: block;
}
