.digest {
  color: #333333;
  margin-top: 120px;
  margin-bottom: 120px;
}

.digest h3 {
  font-size: 25px;
}

.digest .more {
  float: right;
  font-size: 20px;
  margin-top: -50px;
}

.digest .more a {
  font-weight: bold;
  color: #999999;
}

.digest hr {
  width: 100%
}

.digest .posts {
  margin-bottom: 120px;
}

.digest .projects {
  margin-bottom: 120px;
}


@media screen and (max-width: 480px) {
  .digest h3 {
    display: none;
  }

  .digest .more {
    display: none;
  }

  .digest .more a {
    display: none;
  }

  .digest hr {
    display: none;
  }
}
