
.post {
  margin-top: 50px;
  margin-bottom: 120px;
}

.post .left {
  float: left;
  display: inline-block;
  width: 120px;
  height: 120px;
  text-align: left;
}

.post .left img {
  margin-top: 25px;
  width: 120px;
  height: 120px;
  border-radius: 60px;
}

.post .right {
  display: inline-block;
  margin-left: 60px;
  max-width: 800px;
}


.post h3 a {
  font-size: 25px;
}

.post .date {
  line-height: 2px;
  color: #888888;
  font-size: 13px;
}

.post p {
  margin-top: 20px;
  font-size: 15px;
  line-height: 32px;
}

@media screen and (max-width: 768px) {

  .post .left {
    display: none;
  }

  .post .left img {
  }

  .post .right {
    margin-left: 0;
  }
  
}

@media screen and (max-width: 480px) {

  .post {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 120px;
  }

  .post .left {
    float: none;
    margin: 0 auto;
    display: block;
    width: 120px;
    height: 120px;
    text-align: center;
  }


  /* 
    TODO : hover no color;
  .post .left a:hover {
    color:#E48E00;
  }*/

  .post .left img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
  }

  .post .right {
    text-align: left;
    margin-top: 50px;
    display: inline-block;
  }

  .post .right h3 {
    text-align: center;
  }

  .post .right .date {
    text-align: center;
  }
}

